<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a> |
    </p>
    <p>Featherie is a golf blog for all to enjoy! </p>
  </div>
</footer>
